/* This will be the main place to style my sheet */

body {
    background-color: #efefef;
    font-family: 'Montserrat', sans-serif;
}

#displayingResultsFor {
    text-align: center;
    font-weight: bold;
}

header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
    url('https://images.unsplash.com/photo-1499200493734-6ba25a83f77c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9e5fce0a7d169007a642b2b2234af6d1&auto=format&fit=crop&w=750&q=80') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 3px solid #000000;
    color: white;
    
}

header h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h1, h2, h3 {
    font-family: 'Caveat', cursive
}

form {
    position: relative;
    margin-top: 400px;

    text-align: center;
}

form label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}

input {
    font-size: 25px;
    padding: 5px;
    border: 1.5px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: white;
}

input:hover {
    border-color: #ff3b3f;
}

#address-submit {
    background-color: #a9a9a9;
    border: 2px solid #a9a9a9;
    padding-left: 25px;
    padding-right: 25px;
}

#address-submit:hover {
    cursor: pointer;
    background-color: #caebf2;
    border-color: #ff3b3f;
}

#address-search {
    min-width: 50%;
}

#displayingResultsFor {
    margin-top: 125px;
}

main {
  text-align: center;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
    color: darkblue;
    display: block;
}

a {
    text-decoration: none;
    color: darkblue;
    
}

a:hover {
    cursor: pointer;
    background-color: #caebf2;
}

li:active, a:active {
    color: white;
    background-color: #ff3b3f;
}

#results {
    font-size: 20px;
    margin-bottom: 200px;
}

#resultPicture img {
    text-align: center;
    height: auto;
    width: 236px;
}



#resultContact {
    margin-bottom: 25px;
}

#bio {
    text-align: left;
    line-height: 1.4;
    padding: 15px;
}

#bio h3 {
    text-align: center;
}

#youTubeResults {
    margin-bottom: 10px;
}

iframe {
    border: none;
    background-color: black;
}

footer {
    
    border: none;
    background-color: #efefef;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

footer a {
    margin-top: 65px;
    margin-bottom: 40px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    color: black;
    border: 2px solid #a9a9a9;
    border-radius: 5px;
    background-color: #a9a9a9;
}

footer a:hover {
    color: black;
    border-color: #ff3b3f;
}

.card {
    background: whitesmoke;
    border-radius: 2px;
    padding: 15px;
    height: auto;
    width: auto;
  }
  
  .card-1 {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .hide {
      display: none;
  }

  hr {
    border: 0;
    height: 3px;
    background: #000000;
}