/* This will be the main place to style my sheet */
* {

}

#displayingResultsFor {
    text-align: center;
    font-weight: bold;
}

header {
    text-align: center;
}

form {
    text-align: center;
}

form label {
    display: block;
    font-size: 18px;
}

input {
    font-size: 18px;
}

main {
  text-align: center;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

li:hover {
    cursor: pointer;
    color: blue;
}

#results {
    font-size: 18px;

}

#resultPicture img {
    text-align: center;
    height: auto;
    width: 236px;
}

#moreResults {
    text-align: center;
    font-size: 18px;

}